.search-form{
    border: 1px solid rgba(8, 182, 240, 0.84);
    display: inline-flex;
    padding-top: 0;
    padding-bottom: o;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}
.search-text{
    border: none ;
    width: 200px;
    outline: none;
    padding-right: 10px;
    padding-left: 5px;
    background-color: transparent;
    font-size: 20px;
}
.search-btn{
    border: none; 
    background-color: rgba(0, 200, 255, 0.224);
    font-size: 20px;
    border-radius: 5px;
    padding-top: 25 px;
    padding-bottom: 25px;
   
    

    
}
