

.search-form{
    border: 1px solid rgba(8, 182, 240, 0.84);
    display: inline-flex;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}
.search-text{
    border: none ;
    width: 200px;
    outline: none;
    padding-right: 10px;
    padding-left: 5px;
    background-color: transparent;
    font-size: 20px;
}
.search-btn{
    border: none; 
    background-color: rgba(0, 200, 255, 0.224);
    font-size: 20px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.load-more{
    width: 100px;
    height: 30px;
    margin-top: 100px;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    row-gap: 120px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.photo-card{
    max-width: 400px;
    height: 250px;
    margin-bottom: 34px;

}
.image{
    display: block;
    max-width: 100%;
    height: auto;
}

.info{
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
    
}
.info-item{
    
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
